:root {
    --header_bg:rgb(10, 83, 97);
    --header_color:white;
    --button_bg:rgb(30, 52, 88);
    --button_color:white;
    --create_bg:rgb(40, 150, 36);
    --create_color:white;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    word-break: break-all;
    letter-spacing:0;
}
h1,h2,h3,h4,h5 {
    font-weight:normal;
    margin-bottom:30px;
}
body {
    background:rgb(255, 255, 255);
    color:#444;
}
a {
    color:darkcyan;
    text-decoration:none;
    cursor:pointer;
}
.wk {
    padding:15px;
    max-width:640px;
    margin:0 auto;
}
.text_right {
    text-align:right;
}
.text_center {
    text-align:center;
}
.f_none {
    float:none;
}
.f_left {
    float:left;
}
.f_right {
    float:right;
}
.disabled {
    color:gray;
}
header {
    background:var(--header_bg);
    color:var(--header_color);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:50px;
    line-height:50px;
    display:table;
}
header > * {
    display:table-cell;
    vertical-align:middle;
    overflow:hidden;
}
header p {
    font-size:18px;
    line-height:50px;
    height:50px;
    position:relative;
}
header label {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    padding:0 10px;
}
header .icon {
    width:50px;
    height:50px;
}
sidenav {
    background:var(--header_bg);
    color:var(--header_color);
    box-shadow:none;
    width:240px;
    position:absolute;
    left:-240px;
    top:0;
    bottom:0;
    overflow:auto;
    transition-duration:300ms;
    z-index:3;
}
sidenav.active {
    left:0;
    box-shadow:0 0 10px #999;
}
sidenav a {
    display:block;
    color:var(--header_color);
    text-decoration:none;
    font-size:16px;
    border-bottom:solid 1px rgba(255,255,255,0.5);
    padding:15px;
}
.sidenav_bg {
    position:absolute;
    left:-100%;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0);
    transition-duration:300ms;
    z-index:2;
}
.sidenav_bg.active{
    background:rgba(0,0,0,0.6);
    left:0;
}
archive {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    overflow:auto;
    font-size:14px;
    line-height:1.3rem;
}

header ~ archive {
    top:50px;
}
archive p {
    margin-bottom:1.5rem;
}
archive img {
    width:100%;
}
archive ul {
    list-style-type:none;
}
archive ul li {
    margin:0;
    padding:0;
    overflow:hidden;
    border-bottom:solid 1px rgba(20,20,20, 0.1);
}
archive ul li ul li {
    padding-left:20px;
}
archive dl dt {
    background: rgb(0,0,0,0.2);
    padding:8px 15px;
    display:block;
    font-weight:bold;
}
archive ul li > *{
    padding:10px 15px;
    display:table;
    background:white;
    color:#333;
    text-decoration:none;
    position:relative;
    width:100%;
}
archive ul li.inline > * {
    display:inline-block;
    width:auto;
}
archive ul li > * > * {
    display:table-cell;
    vertical-align:middle;
    width:100%;
}
archive ul li .arrow:after{
    content:"";
    position:absolute;
    display:block;
    width:15px;
    height:15px;
    border-right:solid 1px rgba(0,0,0,0.6);
    border-bottom:solid 1px rgba(0,0,0,0.6);
    transform:rotate(-45deg);
    top:12px;
    right:15px;
}
archive ul li .plus:after{
    content:"+";
    font-size:20px;
    color:rgba(0,0,0,0.3);
    position:absolute;
    display:block;
    top:50%;
    transform:translateY(-50%);
    right:15px;
}
archive ul li span.icon {
    background:rgba(0,0,0,0.2);
    width:20px;
    height:20px;
}
input,
select,
textarea {
    display:block;
    width:100%;
    padding:0 15px;
    height:40px;
    line-height:40px;
    border:none;
    font-size:15px;
    outline:none;
}
input[type=radio], 
input[type=checkbox] {
    appearance: none;;
    width:22px;
    height:22px;
    padding:0;
    display:inline-block;
    vertical-align:middle;
    border:solid 3px lightgray;
    border-radius:4px;
    position:relative;
    transition-duration:300ms;
}
input[type=radio]:after,
input[type=checkbox]:after{
    content:"";
    display:block;
    position:absolute;
    opacity:0;
    transition-duration:300ms;
}
input[type=radio]{
    border-radius:50%;
}
input[type=radio]:after{
    width:11px;
    height:11px;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    border-radius:50%;
    background:rgb(37, 161, 33);
}
input[type=radio]:checked {
    border:solid 3px rgb(37, 161, 33);
}
input[type=radio]:checked:after{
    opacity:1;
}
input[type=radio][disabled],
input[type=checkbox][disabled] {
    border:solid 3px rgba(0,0,0,0.05);
    background:rgba(0,0,0,0.05);
}
input[type=checkbox]:after {
    content:"\02713";
    width:20px;
    height:20px;
    zoom:1.1;
    left:0;
    top:0;
    font-weight:bold;
    line-height:18px;
    text-align:center;
    color:white;
}
input[type=checkbox]:checked:after {
    opacity:1;
}
input[type=checkbox]:checked {
    border:solid 3px rgb(37, 161, 33);
    background:rgb(37, 161, 33);
    opacity:1;
}
input[type=checkbox].switch {
    width:44px;
    border-radius:11px;
    background:lightgray;
}
input[type=checkbox].switch:after{
    content:"";
    background:white;
    width:16px;
    height:16px;
    border-radius:50%;
    left:0;
    top:50%;
    transform:translateY(-50%);
    opacity:1;
}
input[type=checkbox].switch:checked {
    background:rgb(37, 161, 33);
}
input[type=checkbox].switch:checked:after {
    left:18px;
}
input[type=checkbox][disabled].switch {
    border:solid 3px rgba(0,0,0,0.05);
    background:rgba(0,0,0,0.05);
}
 textarea {
    line-height:1.5rem;
    min-height:200px;
    padding:10px 15px;
}
.btn {
    background:var(--button_bg);
    color:var(--button_color);
    line-height:40px;
    height:40px;
    padding: 0 15px;
    border:none;
    display:block;
    width:100%;
    border-radius:3px;    
    font-size:15px; 
    opacity:1;   
    transition-duration:300ms;
}
.btn:active{
    opacity:0.5;
}
.btn.create_btn {
    background:var(--create_bg);
    color:var(--create_color);
}
.m5 { margin:5px; }
.m10 {margin:10px; }
.m15 { margin:15px; }

.mr5 { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }

.ml5 { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }

.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }

dialog {
    position:fixed;
    display:block;
    z-index:-1;
    opacity:0;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    transition-duration:300ms;
    transition-property: opacity;;
}
dialog dwindow {
    position:absolute;
    z-index:-1;
    background:white;
    display:table;
    width:100%;
    max-width:75%;
    top:50%;
    left:50%;
    opacity:0;
    transform:translateX(-50%) translateY(-50%);
    transition-duration:300ms;
    transition-property: opacity;;
}
dialog dwindow.minimum {
    max-width:inherit;
    width:auto;
}
dialog dwindow.maximum{
    max-width:90%
}
dialog dheader,
dialog dfooter,
dialog dcontent {
    display:table-row;
}
dialog dheader > *,
dialog dfooter > *,
dialog dcontent > *{
    display:table-cell;
}
dialog dheader > *{
    padding:0 15px;
    height:50px;
    line-height:50px;
    font-weight:bold;
}
dialog dfooter > * {
    padding:10px 15px;
    overflow:hidden;
    zoom:1;
}
dialog dfooter > * > * {
    float:left;
}
dialog dfooter > * > *.f_right {
    float:right;
}
dialog.open {
    opacity:1;
    z-index:10;
}
dialog.open dwindow{
    opacity:1;
    z-index:10;
}
header ~ main article {
    top:50px;
}
main article {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}